/*
----------------------------------------------------------------

This set of fonts are used in this project under the license: (ZSHSH)

----------------------------------------------------------------
*/
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
		 url('fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
		 url('fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),
		 url('fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
body,h1,h2,h3,h4,h5,h6,p,span,strong,div,.navigation a {font-family: IRANSans;!important}
